.keyWrapper {
    background: lightgray;
    border-radius: 5px;
    padding: 5px;
}

.repoFade {
    background: linear-gradient(to right, lightgray, white, white, white);
    border-radius: 5px;
    padding: 5px;
}

.issuePadding {
    padding-left: 5px;
    padding-right: 5px;
}
