.keyWrapper {
    background: rgb(43, 43, 43);
    border-radius: 5px;
    padding: 5px;
}

.repoFade {
    background: rgb(43, 43, 43);
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.issuePadding {
    
    margin: .2rem .5rem;
    text-align: center;
}
