
<!--open/closed key-->
<div class="keyWrapper">
    <mat-grid-list cols="2" rowHeight="30">
        <mat-grid-tile [style.background]="issueColors.open"><strong>OPEN</strong></mat-grid-tile>
        <mat-grid-tile [style.background]="issueColors.closed"><strong>CLOSED</strong></mat-grid-tile>
    </mat-grid-list>
</div>
<br>
<!--open/closed key-->

<div *ngFor="let repo of processed_repos">
    <div class="repoFade">
    <strong>{{repo.name}}</strong>
        <!-- cols = # of columns -->
        <!-- rowHeight = ratio... 5 wide, 1 high -->
        <mat-grid-list cols="4" rowHeight="5:1">
            <mat-grid-tile *ngFor="let issue of repo.data" [colspan]="issue.cols" [rowspan]="issue.rows" [style.background]="issue.color">
                <div class="issuePadding">
                    <a href="{{issue.url}}">{{issue.text}}</a>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <br>
</div>
