
<!-- temporary open/closed key-->
<mat-grid-list cols="2" rowHeight="30">
    <mat-grid-tile [style.background]="issueColors.open">OPEN</mat-grid-tile>
    <mat-grid-tile [style.background]="issueColors.closed">CLOSED</mat-grid-tile>
</mat-grid-list>
<br>
<!-- temporary open/closed key-->

<div *ngFor="let repo of processed_repos">
    {{repo.name | json}}
    <!-- cols = # of columns -->
    <!-- rowHeight = ratio... 5 wide, 1 high -->
    <mat-grid-list cols="5" rowHeight="5:1">
        <mat-grid-tile *ngFor="let issue of repo.data" [colspan]="issue.cols" [rowspan]="issue.rows" [style.background]="issue.color">
            <a href="{{issue.url}}">{{issue.text}}</a>
        </mat-grid-tile>
    </mat-grid-list>
    <br>
</div>

<!-- <br><br>

<mat-grid-list cols="5" rowHeight="100px">
    <mat-grid-tile *ngFor="let tile of test_tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
        {{tile.text}}
    </mat-grid-tile>
</mat-grid-list> -->
